<strong>Recuperando Senha</strong>
<p>
  Uma soliticação de senha for solicitada para o e-mail  ({{ email }}).
</p>

<p>Se você não foi o autor da requisição, por favor troque sua senha</p>

<p>Para continuar a recuperação do token {{ token }} ou clique no link abaixo</p>

<a href="{{ link }}">Alterar senha</a>
